<launch>
    
    <arg name="queue_size"  default="25"/>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    
        <arg name="rviz"                value="true"/>
        <arg name="rtabmapviz"          value="false"/>

        <arg name="subscribe_rgbd"      value="true"/>
        <arg name="rgbd_topic"          value="/camera/rgbd_image"/>
        <arg name="compressed"          value="true"/>

        <arg name="approx_sync"         value="true"/>
        <arg name="visual_odometry"     value="false"/>
        <arg name="odom_topic"          value="/odom"/>
        <arg name="queue_size"          value="$(arg queue_size)"/>
        <arg name="rtabmap_args"        value="--delete_db_on_start"/>

    </include>

    <!-- RTAB-Map parameter tuning -->
    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap">
        <!-- Three DOF mapping -->
        <param name="Reg/Force3DoF"    value="true" />
        <param name="Optimizer/Slam2D" value="true" />
        <!-- Reduce Pointcloud noises -->
        <param name="cloud_noise_filtering_radius" value="0.1"/>
        <param name="cloud_noise_filtering_min_neighbors" value="20"/>
        <!-- Change projected Occupancy-grid characteristic -->
        <param name="proj_max_ground_angle" value="60"/>
        <param name="proj_min_cluster_size" value="10"/>
    </node>

</launch>